# Dependencies
node_modules/
.npm

# OS Files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Database WAL & temp files
*.db-journal
*.db-wal
*.db-shm

# Environment
.env
.env.local
.env.*.local
